
#orbframe {
    width: 400px;
    height: 200px;
    position: absolute;    
    overflow: hidden;
    border: 2px solid red;
    z-index: 9;
    background-color: #fff;
}

#orbframeheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.orb {
    width: 800px;
    height: 400px;
    margin-left: -140px;
    margin-top: -40px;
}